<div align="center">
	<div class="card mb-6" style="max-width: 500px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<div style="height:150px; width:150px; overflow:hidden;">
					<img src="{{ car!.image }}" class="card-img" alt="{{car!.make}}" width="150px" height="150px">
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ car!.make }}</h5>
					<p class="card-text">{{ car!.model }}</p>
					<p class="card-text">{{ car!.year }}</p>
					
				</div>
			</div>
		</div>
	</div>
</div>



